[user]
	email = adam@jasinski.lt 
	name = adezxc
[merge]
	conflictStyle = diff3
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
    s    = status
[init]
	defaultBranch = master
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	autocrlf = input
